%h1.lettering Being<br>a<br>genius<br>is<br>not<br>an excuse<br>to be<br>socially<br>awkward

#about
  :markdown
    This was made by [@silvenon](http://twitter.com/#!/silvenon) using Haml, Sass & Compass. If you're curious, you can check out the source code on [GitHub](http://github.com/silvenon/being-a-genius).
  :markdown
    The fonts are pulled from [Google Webfonts](http://google.com/webfonts).
